<html>
<head>
    <title>Spotdawg</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Spotdawg</h1>

        <p>Add Your Slack Account</p>

        <a href="/authorize/slack" class="btn btn-primary"><span class="fa fa-slack"></span> Add Slack</a>

    </div>

</div>
</body>
</html>
