<html>
<head>
    <title>Ruckus</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <% if (!slackEnabled) { %>
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="well">
                    <a href="/authorize/slack" class="btn btn-primary"> Set Up Your Slack Account</a>
                </div>
            </div>
        </div>
    <% } else if (!spotifyEnabled) { %>
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="well">
                    <a href="/authorize/spotify" class="btn btn-primary"> Set Up Your Spotify Account</a>
                </div>
            </div>
        </div>
    <% } else { %>
        <h3 class="row text-center">You're all set up!</h3>
    <% } %>

</div>
</body>
</html>


